.container_header{

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 18vh;
}

.container_header_conteudo{

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 50%;
}

.container_logo_positivus{

    display: flex;
    align-items: center;
    justify-content: start;
    
    cursor: pointer;
    
    width: 30%;
    height: 100%;
}

.container_logo_positivus img{

    width: 60%;
}

.container_de_links_header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 55%;
    height: 100%;
}

.container_de_links_header a{

    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
    transition: 0.3s;
    
    width: 20%;
    height: 70%;

    border-radius: 0.5vw;
    
    margin: 1%;
    font-family: var(--t_um);
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;

    color: var(--c_dois);
    background-color: transparent;
}

.container_de_links_header a:hover{

    background-color: var(--c_um);
}

.container_botao_header{

    width: 15%;
    height: 80%;
}

.container_botao_header button{

    width: 100%;
    height: 100%;

    cursor: pointer;
    transition: 0.3s;

    border-radius: 0.5vw;
    border: 0.1vw solid var(--c_dois);

    font-family: var(--t_um);
    font-size: 1.1rem;
    font-weight: 500;

    background-color: transparent;
}

.container_botao_header button:hover{

    border: 0.1vw solid var(--c_dois);
    background-color: var(--c_um);
}