:root{

  --c_um: #B9FF66;
  --c_dois: #191A23;
  --c_tres: #F3F3F3;
  
  --t_um: "Space Grotesk", sans-serif;
}

*{

  width: 100%;
  height: 100%;
  margin: 0px;

  background-color: var(--c_tres);
}